<div class="image" >
    <div class="vl"></div>
    <div class="container">
        <h1 style="font-size: 280%;font-family: fangsong; font-weight:bold">MATCH STATS</h1>
    </div>
    <div>
        <button type="button" class="mybtn1" style="background-color: green;border-color: green;color: white; border-radius: 20px;">&nbsp;Match 1&nbsp;</button>
        <button type="button" class="mybtn2" style="background-color: green;border-color: green;color: white;border-radius: 20px;">&nbsp;Match 2&nbsp;</button>
       </div>
</div>
